.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* * {border: 1px solid red} */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  color: black;
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  width: 183px;
}

.logo_place_header {
  position: absolute;
  height: 32px;
  top: 30px;
  left: 64px;
}

.header__title {
  font-size: 102px;
  line-height: 96px; /*высота строки*/
  width: 730px;
  margin-left: 64px;
  font-weight: bolder;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}
.link:hover {
  color: rebeccapurple;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  background-image: url(./../images/header-image.png);
  width: 765px;
  height: 608px;
  background-size: cover;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  right: 0px;
  top: 64px;
  z-index: 1;
}

.description {
  margin: 100px 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  color: #2f80ed;
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__paragraph:first-of-type {
  margin-top: 0px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0px;
}

.two-columns__paragraph_span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bolder;
}

.digits {
  margin: 100px 0;
}
.section-title {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bolder;
}

.section-subtitle {
  width: 60%;
  margin: 20px auto 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 35px;
  font-weight: normal;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bolder;
  margin-top: 0px;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.feynman {
  background-color: #f2f2f2;
  color: black;
  align-items: center;
  margin: 100px 0 0 0;
  position: relative;
  height: 890px;
}

.feynman__title {
  font-size: 120px;
  line-height: 1.15; /*высота строки*/
  width: 648px;
  position: relative;
  margin: 0 auto 70px auto;
  top: 100px;
  font-weight: bolder;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px; /*высота строки*/
  width: 400px;
  position: relative;
  margin: 0 auto 0;
  top: 70px;
  font-weight: normal;
  text-align: center;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-decoration: none;
  color:  #2f80ed;
}


.feynman__illustration {
  /*background-image: url(./../images/feynman.png);*/
  width: 867px;
  height: 637px;
  background-size: cover;
  bottom: 0px;
  left: 0px;
  z-index: 0;
  position: absolute;
}

.kaufman {
  padding: 90px 0;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-flow: column;
}

.kaufman_triangle {
  background-image: url(./../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0px;
  z-index: 0;
  background-size: 877px;
}

.section-title_dark {
  color: white;
}

.cection-subtitle_dark {
  color: white;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.table_theme_dark {
  z-index: 1;
}

/*.table__heading_dark {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bolder;
}*/

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

/*.table__text_dark{
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}*/

.footer {
  padding: 60px 0 40px 0;
  background-color: #1f1f1f;
  color: white;
  flex-basis: 711px;
  display: flex;
  justify-content: center;
  min-height: 250px;
}


.footer__columns {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 50%;
}

.logo_place_footer {
  height: 35px;
}

.footer__author {
  font-size: 18px;
  line-height: 35px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column_content_info {
}

.footer__column-heading {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bolder;
}

.footer__column-links {
  /*margin-bottom: 16px;*/
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px 0px;
  margin: 0px 0px;
}

.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  /*margin: 0px 0px;*/
  padding: 0px 0px;
  display: flex;
  align-items: center;
}

.footer__coloomn_content_social {
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  margin-right: 7px;
  padding: 0px 0px;
}
